{% extends "base.html" %}

{% block content %}
<h1><img src="static/img/MARS-2-7.png">Аварийный доступ</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.username_astr.label }}<br>
        {{ form.username_astr(class="form-control") }}<br>
        {% for error in form.username_astr.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.password_astr.label }}<br>
        {{ form.password_astr(class="form-control", type="password") }}<br>
        {% for error in form.password_astr.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.username_capt.label }}<br>
        {{ form.username_capt(class="form-control", type="password") }}<br>
        {% for error in form.username_capt.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
        <p>
        {{ form.password_capt.label }}<br>
        {{ form.password_capt(class="form-control", type="password") }}<br>
        {% for error in form.password_capt.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}