{% extends "base.html" %}

{% block content %}
{% set profs = ('механик','инженер','я','биолог')%}
{% if list_type not in ('ol', 'ul') %}
<div class="alert alert-danger" role="alert">
                      неправильный тип списка
                    </div>
<div class="alert alert-success" role="alert">
                      введите в поисковом запросе ol или ul после list_prof/
                    </div>
{% else %}
{% for prof in profs%}
<{{list_type}}>
<li>{{prof}}</li>
</{{list_type}}>
{% endfor %}
{% endif %}
{% endblock %}